
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#spaceship {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('/img/spaceship-svgrepo-com.png');
  background-size: contain;
  background-position: center;
}

.asteroid {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff5733;
}

.large-asteroid {
  width: 60px;
  height: 60px;
  background-color: #c70039;
}

.treasure {
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent;
  clip-path: polygon(
    50% 0%, 
    61% 35%, 
    98% 35%, 
    68% 57%, 
    79% 91%, 
    50% 70%, 
    21% 91%, 
    32% 57%, 
    2% 35%, 
    39% 35%
  );
  background-color: gold;
  box-shadow: 0 0 20px gold;
}



#banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px 40px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
  z-index: 1000;
  display: none;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Dark overlay */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  z-index: 1000;
}

#start-button {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px 40px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;

  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#start-button:hover {
  background-color: white;
  color: black
}

#start-message {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-top: 30px; /* Space between the button and the message */
  margin-bottom: 5px;
  max-width: 80%;
}

