body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 10px;
    font-size: 2rem;
}

#game-container {
    position: relative;
    width: 80%;
    height: 70vh;
    border: 2px solid white;
    overflow: hidden;
    margin-top: 20px;
}



#basket {
    position: absolute;
    bottom: 10px;
    width: 150px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    left: 0;            
   
  }
  
  #ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    left: 0;            
    top: 0;
   
  }
  
  

#score {
    margin-top: 10px;
    font-size: 1.5rem;
}

#start-button {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 1rem;
}
