.side-image {
    float: left;
    width: 400px; 
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
}
.inline-image {
    width: 800px;
    height: auto;
    display: inline;
}

.side-image-jay {
float: left;
width: 100px; 
height: auto;
margin-right: 40px;
margin-left: 10px;
margin-bottom: 5px;
}
.side-image-barry {
    float: left;
    width: 100px; 
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.side-image-wally {
    float: left;
    width: 100px; 
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.side-image-bart {
    float: left;
    width: 150px; 
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}