body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(/img/space-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#spaceship {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('/img/spaceship-svgrepo-com.png');
  background-size: contain;
  background-position: center;
}

.asteroid {
  position: absolute;
  background-image: url('/img/asteroid1.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  filter: hue-rotate(0deg);
  transition: filter 0.3s ease;
  border-radius: 50%
}

.large-asteroid {
  width: 60px;
  height: 60px;
}

.level-1 {
  filter: none;
}

.level-2 {
  filter: hue-rotate(120deg);
}

.level-3 {
  filter: hue-rotate(240deg);
}

.level-4 {
  filter: hue-rotate(60deg);
}

.treasure {
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent;
  clip-path: polygon(
    50% 0%, 
    61% 35%, 
    98% 35%, 
    68% 57%, 
    79% 91%, 
    50% 70%, 
    21% 91%, 
    32% 57%, 
    2% 35%, 
    39% 35%
  );
  background-color: gold;
  box-shadow: 0 0 20px gold;
}

#banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px 40px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
  z-index: 1000;
  display: none;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#start-button {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px 40px;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;

  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#start-button:hover {
  background-color: white;
  color: black
}

#start-message {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
  max-width: 80%;
}

#scoreboard {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  padding: 10px 0;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  z-index: 1000;
}

#scoreboard p {
  margin: 0;
  padding: 0 10px;
}

#scoreboard span {
  font-weight: bold;
  color: white;
}